/*
@media (min-width: 900px){
    .carousel-inner{
        position: relative;
        background-color: rgba(255,255,255,0.5) ;
        width: 100%;
        margin: auto;
        background-color: #E9ADAD;
    }
    
    .carousel-item{
        position:relative;
        padding-bottom:40%;
        overflow: hidden;
    }

    .image_full{
        display:block;
        position:absolute;
        top:-50%; bottom:-50%;
        margin:auto;
        width: 100%;
        height: auto;
    }
}

*/
@media (max-width: 1199px) and (min-width: 320px){
    .firstheadevent{
    }
}

@media (max-width: 1000px) and (min-width: 320px){
    .words{
        width: 75%;
        margin-top: 30px;
        margin-bottom: 30px;
        
    }
    
  }
@media (max-width: 991px) and (min-width: 320px){
    .eventicon{
        width:75%;
    }

    .firstheadevent{
    }
}

@media (max-width: 767px) and (min-width: 320px){
    .leftflex{
        margin-bottom: 0px;
    }
    .carousel-control-prev{
        display: none;
    }

    .carousel-control-next{
        display: none;
    }

    .contactcols{
        padding: 15px 0px;
    }
    
}

@media (max-width: 640px) and (min-width: 320px){
    .carousel-item{
        max-height: 600px;
    }
    
    .image_full{
     display:none;
    }
  
    .image_mobile{
     display:block;
    }
  }

  @media (max-width: 575px) and (min-width: 320px){
    .flexitem{
        margin: 15px auto;
    }

    .words{
        width: 100%;
        margin-top: 30px;
        align-self: center;
        margin-bottom: 30px;
    }

    .eventicon{
        width:50%;
    }

    .stars{
        width: 25%;
    }

    .secondhead{
        font-size: 7vw;
    }
  }

  @media (max-width: 505px) and (min-width: 320px){
    .stickynavcontainer{
        display:none;
    }

    .manunav{
        display:none;

    }
  }

  @media (max-width: 500px) and (min-width: 320px){
    .carousel-item{
        max-height: 500px;
    }
    
  }

  @media (max-width: 575px) and (min-width: 320px){
    .flexitem{
        margin: 15px auto;
    }
  }