body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Raleway', sans-serif;
}

.fixedbardisplacement{
    height: 60px;
}

.carousel-inner{
    position: relative;
    width: 100%;
}

.carousel-item{
    width: 100%;
    max-height: 600px;
}

.innerone{

}

.innertwo{

}

.innerthree{
}

.maintext{
    position: absolute;
    background-color: rgba(255,255,255,0.5) ;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    text-align: center;
    color: black;
    font-size: 5vh;
}

carouselExampleControls{
    width: 100%;
}

.mainlogo{
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    color: black;
}

.carouselCSS{
    width: 100%;
}

.CSSCarouselItem{
    width:100%;
    height: 600px;

}

.image1{
    background-image: url(images/DRB_2610.jpeg);
    width: 100%;
    height: 600px;
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center; 
}


.meetthechef{
    display: flex;
    flex-wrap: wrap;
}

.backgroundimage{
    background-image: url("images/gradient");
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.maniphoto{
    width: 100%;
}

.leftflex{
    margin-top: 30px;
    margin-bottom:30px;
    align-self: center;
}
.rightflex{
    margin-top: 30px;
    align-self: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}

.firsthead{
    text-align: center;
    font-family: 'Raleway', sans-serif;

}

.secondhead{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 15px;
    border-bottom: 1px dotted darkgrey;
    width: 100%;
}

p{
    text-align: justify;
    margin: 0 0 10px;
    font-size: 1.6vh;
      
}


/*IMPORTANT FOR MEDIA QUERIES*/
.image_full{
    display:block;
   }
 
.image_mobile{
   display:none;
  }
/*IMPORTANT FOR MEDIA QUERIES*/

/*MISSION*/

.missionbox{
    position: absolute;
    margin: 30px auto;
    padding: auto 30px;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    color: black;
    display: flex;
}

.words{
    margin: auto;
    padding: 30px;
    align-self: center;
    background-color: rgba(255,255,255,0.8) ;
}


/*CATERING AND EVENTS*/


.maintext3{
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    text-align: center;
    color: black;
    font-size: 5vh;
    margin: 60px auto;
}

.cateringbox{
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    color: black;
    background-color: rgba(255,255,255,0.8) ;
    display: flex;
}

.sectionheading{
    margin: auto;
    align-self: center;
    width: 100%;
}

.flexem{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.flexitem{
    padding: 4vh;
}

.eventicon{
    width:75%;
    margin-bottom: 40px;
}

.firstheadevent{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    align-self: center;
    
}


/*TESTIMONIAL*/

.missionbox2{
    position: absolute;
    padding: auto 30px;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    color: black;
    display: flex;
    height: 100%
}

.words2{
    margin: auto;
    padding: 30px;
    align-self: center;
    background-color: rgba(255,255,255,0.8) ;
}

.stars{
    padding-top: 15px;
}

.contactcontainer{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.contactcols{
}

.sociallink{
    color: black;
}

.contactcontainer li{
    list-style-type: none;
    text-align: center;
    margin: 0px;
    width: 100%;
}

.contactcontainer ul{
    list-style-type: none;
    text-align: center; 
    margin: 0;
    padding: 0;
}

/*    ----------------------------------------MENU CSS----------------------------------------------*/

.menutext{
    text-align: center;
}

.price{
    font-size: 18px;
}

.menuem{
    display: flex;
    flex-wrap: wrap;
}

.fakemargins{
    padding: 15px;
    border: 1px dotted darkgrey;
    border-radius: 4px;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f5;
}

.fakemargins:hover{
    background-color: white;
    border: 1px solid black;
}

.menuitem{
    margin: 15px 0px;
    
}

.shadow{
    box-shadow: 0px 0px 20px 0px grey;


}

.maintext4{
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    text-align: center;
    color: black;
    font-size: 5vh;
    margin: 30px auto;
}

.flexguy{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.manunav{
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px;
}

.navguy{
    padding-left: 10px;
    padding-right: 10px;
}

.manunav a{
    color:lightgrey;
    font-weight: 500;
}

.manunav a:hover{
    color:white;
    font-weight: 900;
}

.health{
    margin: 0px auto;
    padding: auto;
    width: 28px;
    justify-content: center;
}

.contain4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;

}

.backgroundcul{
    border: 1px dotted darkgrey;
}

.iconn{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.iconcap{
    text-align: center;
}

.stickynavcontainer{
    background-color: black;
}

.flexphotos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}

.longimage{
    padding: 10px;
}

.skinnyimage{
    padding: 10px;
}

.photoheader{
    padding-top: 30px;
    margin: auto;
    align-self: center;
    width: 100%;
}


.img_fluid:hover{
}

.eventicon:hover{
    width:90%;
}

@media (max-width: 800px) and (min-width: 320px){
    .eventicon:hover{
        width:65%;
}
}

.type{
    overflow: hidden;
    border-right: .10em solid darkgrey;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: darkgrey; }
  }

  section{

  }